@mixin flexible() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// General styles

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #e7f6ff;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Inter', system-ui;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.wrapper {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
}

// Header block

header {
    @include flexible();
    padding-bottom: 44px;
    border-bottom: 1px solid #eaeaea;
    h3,
    p {
        margin: 0;
    }
}
.headerInfo {
    h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000000;
    }
    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9d9d9d;
    }
}
.headerLeft {
    display: flex;
    align-items: center;
    margin-top: 43px;
    margin-left: 45px;
    img {
        margin-right: 15px;
    }
}
.headerRight {
    display: flex;
    align-items: center;
    margin: 50px 33px 0 0;
    li:nth-child(2) {
        margin: 0 30px 0 70px;
    }
    li:nth-child(3) {
        margin-right: 30px;
    }
}
.cart-box {
    display: flex;
    cursor: pointer;
    span {
        padding-left: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #5c5c5c;
    }
}

// Main content

.content {
    padding: 40px;
    margin-bottom: 40px;
}
.content-card-box {
    display: flex;
    // justify-content: space-evenly;
    flex-wrap: wrap;
}
.content-header {
    @include flexible();
    .search-block {
        @include flexible();
        border: 1px solid #f3f3f3;
        border-radius: 10px;
        padding: 0 15px;
        position: relative;
        input {
            border: 0;
            outline: none;
            padding: 13px;
            font-size: 16px;
            width: 250px;
        }
        .clear {
            position: absolute;
            right: 15px;
            width: 18px;
            height: 18px;
            top: 13px;
        }
    }
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 420px;
    right: 0;
    bottom: 0;
    top: 0;
    background: #fff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    overflow: auto;
    h2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    img {
        cursor: pointer;
    }
    .cart-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #f3f3f3;
        border-radius: 20px;
        overflow: hidden;
        padding: 10px;
        margin-bottom: 20px;
        .cart-item__text {
            margin-right: 20px;
        }
        b {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
        }
    }
    p {
        margin-bottom: 5px;
    }
    img {
        margin: 0 20px;
    }
}
.drawer-cart {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.cart-item-btn___remove {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;

    &:hover {
        opacity: 1;
    }
}
.cart-item-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.cart-item-bottom {
    ul {
        margin-bottom: 40px !important;
        li {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
            div {
                flex: 1;
                border-bottom: 1px dashed #dfdfdf;
                position: relative;
                top: -4px;
                margin: 0 10px;
            }
        }
    }
    .greenButton {
        position: relative;

        &:hover {
            img {
                transform: translateX(5px);
            }
        }
        img {
            position: absolute;
            right: 30px;
            top: 20px;
            transition: transform 0.15s ease-in-out;
        }
    }
}
.greenButton {
    width: 100%;
    height: 55px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background-color: #9dd458;
    border: 0;
    border-radius: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background: lighten($color: #9dd458, $amount: 5%);
    }
    &:active {
        background: darken($color: #9dd458, $amount: 5%);
    }
}
.cart-item-bottom__info {
    display: flex;
}

.cartEmpty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    p {
        width: 280px;
        line-height: 24px;
    }

    .greenButton {
        width: 245px;
        margin-top: 20px;

        &:hover {
            img {
                transform: rotate(180deg) translateX(3px);
            }
        }

        img {
            position: relative;
            top: 1px;
            transform: rotate(180deg);
            margin-right: 15px;
            transition: transform 0.15s ease-in-out;
        }
    }
}
